main {
    background-color: #033478;
}

.navbar {
    background-color: #404040;
}

.carousel-caption, form, table, .cards, .options-checks{
    background-color: rgb(255,255,255,0.7);
}

.carousel-caption h5{
    color: #212529;
}

.carousel-caption p{
    color: #232629;
}

.nav-link {
    color:darkturquoise;
    font-size: larger;
}

.carousel-inner {
    max-height: 500px;
}

.carousel-img {
    object-fit: cover;
    height: 400px;
}

.cards-img {
    width: 80%;
}

.heading-line {
    background-color: #dee2e6;
    height: 5px;
    width: 300px;
}

.service-card {
    width: 18rem;
    background-color: #93c5fa;
}

.service-card p {
    color: whitesmoke;
    font-weight: bold;
    font-size: larger;
}

footer {
    background-color: #404040;
}

footer a, footer h5, h1 {
    color: #dee2e6!important;
}

