main {
    background-color: #ffff66;
}

.navbar {
    background-color: #002137;
}

form {
    background-color: rgb(255,255,255,0.5);
    
}

.nav-link {
    color:darkturquoise;
    font-size: larger;
}

.carousel-inner {
    max-height: 500px;
}

.carousel-img {
    object-fit: cover;
    height: 400px;
}

.cards-img {
    width: 80%;
}

.heading-line {
    background-color: #0d6efd;
    height: 3px;
    width: 300px;
}

.service-card {
    width: 18rem;
    background-color: #98cd30;
}

.service-card p {
    color: whitesmoke;
    font-weight: bold;
    font-size: larger;
}
