html, body {
    margin: 0;
    height: 100%;
}


body {
    margin: 0;
    background-color: rgb(26, 25, 25);
}
.header {
    background-color: rgb(63, 63, 63);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}
ul {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15pt;
    padding-left: 1em;
}

#quotes li{
    list-style-type: none;
}

#quotes ul {
    padding: 0;
}

.bigname {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 2px;

}

#map {
    width: 100%;
    height: 100%;
}
iframe {
    border: 0;
    margin: 10px 12.5%;
    height: 75%;
    width: 75%;
}
.btn:hover {
    transition: color 0.5s, border-color 0.5s;
    color:rgb(205, 32, 31);
    border:2px solid rgb(205, 32, 31);
}

.roflanlico {
    max-height: 350px;
    width: 50%;
    float: right;
    
}
.roflanlico img {
    text-align: center;
    max-height:350px;
    width: auto;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: white;
}
.menu {
    padding: 20px 20px ;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

.menu a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

#page-footer {
    padding: 1px 0;
    background-color: rgb(63, 63, 63);;
    color: white;
    clear: both;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
