html, body, main{
    height: 100%;
    background-color: #ebd59a
}

main{
    display: flex;
}

.calc-container{
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: #171717
}

.key {
    visibility: hidden;
}

.screen{
    text-align: end;
    height: 100px;
    color: #c0c0c0;
    font-size: 50px;
}

.buttons{
    display: flex;
    background-color: #232323;
}

.other button {
    color: #c1e977;
}

.calc-container span, button{
    font-size: 50px;

}

.digits button:last-child{
    visibility: hidden;
}

.digits{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.other{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row-reverse;
}


.buttons button{
    height: 90px;
    width: 90px;
    color: #c0c0c0;
    background-color: #232323;
    cursor: pointer;
}

