{% extends 'base.html' %}

{% block content %}

<h1>Смена пароля</h1>

<form class="container-fluid mt-5" method="POST" style="max-width: 20rem;">
    <div class="form-floating mb-3">
        <input autocomplete="off" type="password" class="form-control" name="oldPswd" id="oldPswd" placeholder="oldPswd" required>
        <label for="oldPass">Введите старый пароль</label>
    </div>
    <div class="form-floating mb-3">
        <input autocomplete="off" type="password" class="form-control" name="newPswd" id="newPswd" placeholder="newPswd" required>
        <label for="oldPass">Введите новый пароль</label>
    </div>
    <div class="form-floating mb-3">
        <input autocomplete="off" type="password" class="form-control" name="confNewPswd" id="confNewPswd" placeholder="confNewPswd" required>
        <label for="oldPass">Повторите новый пароль</label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Сменить</button>
</form>

{% endblock %}