html {
    font-size: 20px;
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    position: relative;

}
body::after{
    content: "";
    display: block;
    height: 68px;
}
.clearfix::after{
    clear: both;
    content: "";
    display: block;


}
.header {
    background-color: khaki;
    padding: 20px 0;
    border-bottom: 5px solid blueviolet;
}
.container {
    margin: 0 auto;
    width: 95%;
}
.profile {
    float: right;
}
.navigation{
    float: left;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;


}
.navigation li{
  display: inline;  
  margin-right: 10px;
}
.navigation li:last-child{
    display: inline;  
    margin-right: 0;
}
.navigation a, .profile a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar-section{
    margin-bottom: 20px;

}

.sidebar-section:last-child{
    margin-bottom: 0;
}
.sidebar-header{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.sidebar{
    width: 200px;
    padding: 20px 20px 20px 0;
    float: left;
    position: sticky;
    top: 68px;
}

.page-content{
    padding: 20px;
    margin-left: 200px;
}
.product-card{
    display: inline-block;
    width: 500px;
    height: 350px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin: 0 10 10 0;
    background-color: khaki;
}
.products-category-header{
    margin-top: 0;
    
}
.product-img{
    height: 100%;
    overflow: hidden;
    width: 50%;
    float: left;
}
.product-img img{
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.product-details{
    float: right;
    width: 50%;
    height: 100%;
    
}
.product-details header{
    font-weight: bold;
    font-size: 1.2rem;
}
.product-details .information{
    text-align: justify;
    height: 65%;
    overflow: hidden;
    font-size: 0.9rem;
}
.control{
    text-align: center;
}
.product-details .btn {
    background-color: blueviolet;
    padding: 0;
    color: khaki;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.product-details .btn span{
    padding: 10px 20px;
    display: inline-block;
    font-size: 0.7rem;
}
.product-details .btn .price{
    background-color: purple;
} 
.footer{
    background-color: khaki;
    padding: 20px 0;
    border-top: 5px solid blueviolet;
    position: absolute;
    bottom: 0;
    width: 100%;
}