html {
    font-size: 20px;
    width: 100%;
}

/* main h1 {
    font-size: 15px;
} */

main {
     color: white;
     font-family: 'Comfortaa', cursive;
 }

header {
    font-family: 'Comfortaa', cursive;
}

h1 {
    text-align: center;
}

.navbar {
    background-color: #83f3ed;
    font-weight: bold;
}

.greeting {
    background-color: #39b54a;
}

.members {
    background-color: #009443;
}

.technologies {
    background-color: #08703f;
}

.contacts {
    background-color:#39b54a;
}

.footer {
    background-color: #83f3ed;
}

.heading-line {
    background-color: #83f3ed;
    height: 4px;
    width: 300px;
}