html {
    font-size: 30px;
    width: 100%;
}

main {
     color: white;
     font-family: 'Comfortaa', cursive;
 }

header {
    font-family: 'Comfortaa', cursive;
}

h1 {
    text-align: center;
}

.navbar {
    background-color: #f8f9fa;
}

.greeting {
    background-color: #39b54a;
}

.members {
    background-color: #009443;
}

.technologies {
    background-color: #08703f;
}

.contacts {
    background-color:#39b54a;
}